APP_NAME=EventSphere
APP_ENV=production
APP_KEY=base64:tFLg/JMpNkoIdjZtyKcX0Cld8aPDKwtraT1GW6Oa9yE=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=https://${{RAILWAY_PUBLIC_DOMAIN}}

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info

# Database Connection (MySQL on Railway)
DB_CONNECTION=mysql
DB_HOST=${{MySQL.MYSQLHOST}}
DB_PORT=${{MySQL.MYSQLPORT}}
DB_DATABASE=${{MySQL.MYSQLDATABASE}}
DB_USERNAME=${{MySQL.MYSQLUSER}}
DB_PASSWORD=${{MySQL.MYSQLPASSWORD}}

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="no-reply@eventsphere.edu"
MAIL_FROM_NAME="${APP_NAME}"
